   body{
      color: #212121;
      font-family: sans-serif;
      margin: 0;
    }
    
    a{
            text-decoration: none;  
    }
    
    nav a {
        color: #F5F5F5;
        background-color: #9E9E9E;
        border-radius: 2px;
        margin: 5px;
        padding: 5px;
        display: inline-block;
        transition: 1s all;
        
    }
    
      nav a:hover{
        background-color: #727272;  
      }
    
    header {
        text-align: center;
    }
      
    header img{
        border-radius: 50%;
    }  
    
    header h1{
        font-family: 'Lobster', cursive;
    }
    
    h2{
      color: #00bcd4;
    }
    
    section{
        text-align: center;
        background-image: https://www.flickr.com/photos/130944132@N07/with/16196503899/;
        background-position: 0px 603px;
        height: 300px;
        background-size: cover;
    }

#features{
  background-image: none;
  background-color: #0097a7;
  height: 250px;
  padding: 50px;
  box-sizing: border-box;
}

p {
  color: #FFF;
  background-color:#b2ebf2;
  font-family: Impact, Haettenschweiler, “Arial Narrow Bold”, sans-serif; 
  margin: 15px;
  padding: 20px;
  width: 200px;
  display: inline-block;
  transition: 1s all;
}

p:hover{
    transform: rotate(-7deg);
}
    
    button{
        color: #FFF;
        background-color:rgba(0, 188, 212, 0.75);
        border: none;
        border-radius: 3px;
        padding: 20px;
        margin-top: 120px;
    }
    
    footer{
        background-color: #000;
        height: 150px;
        text-align: center;
        background-color: #727272;
        padding: 50px;
        box-sizing: border-box;
    }
    
    .menu-selected{
       background-color: red;
    }

    table{
       width: 1134px;
       margin: 0 auto;
       padding: 1px green;
       
   
  
       
    }  
.button {
   border-top: 1px solid #96d1f8;
   background: #8a2c2c;
   background: -webkit-gradient(linear, left top, left bottom, from(#a371ad), to(#8a2c2c));
   background: -webkit-linear-gradient(top, #a371ad, #8a2c2c);
   background: -moz-linear-gradient(top, #a371ad, #8a2c2c);
   background: -ms-linear-gradient(top, #a371ad, #8a2c2c);
   background: -o-linear-gradient(top, #a371ad, #8a2c2c);
   padding: 13.5px 27px;
   -webkit-border-radius: 29px;
   -moz-border-radius: 29px;
   border-radius: 29px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #248a9c;
   }
.button:active {
   border-top-color: #1c8fdb;
   background: #1c8fdb;
   }
